<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            {{ user.username }}
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">가격: {{ product.price }} 원</li>
                <li class="list-group-item">등록날짜: {{ product.add_date |date:'Y-m-d H:i' }}</li>
                <li class="list-group-item">{{ product.description|safe }}</li>
                <th>주문 상태 : {{ product.order_status}} </th>
                {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="Product Image">
                {% endif %}
                <a href="{% url 'product:product_delete' product.pk %}" class="btn btn-outline-primary">삭제</a></p>
                <a href="{% url 'product:order_done' product.pk  %}" class="btn btn-outline-primary">주문</a></p>
                <a href="{% url 'product:product_edit' product.pk  %}" class="btn btn-outline-primary">수정</a></p>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="/product/">목록보기</a>
    </div>
</div>