마이페이지
<br>
<br>
<table>
    <tr>
        <td>아이디</td>
        <td>{{ user.username }}님</td>
    </tr>
<table>
    <tr>
        <td>상품 게시 목록</td>
    </tr>
    <tr>
        <td>
            {% for product in posts %}
               <a href="{% url 'product:product_detail' product.pk %}">{{ product.product_name }}</a><br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>상품 구매 목록</td>
    </tr>
    <tr>
        <td>
            {% for product in buys %}
                <a href="{% url 'product:product_detail' product.pk %}">{{ product.product_name }}</a><br>
            {% endfor %}
        </td>
    </tr>
</table><br>
<!--<a href="{% url 'mypage:edit' %}"> 정보 수정</a>-->
<a href="{% url 'mypage:profile_update' %}" style="color:#d14040f2; font-size:15px;"><i class="fas fa-user-edit"></i>&nbsp;내정보수정</a>&nbsp;

